@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 18px;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-gray-50 dark:bg-dark transition-colors duration-300;
    @apply text-black dark:text-white;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1s !important;
      animation-duration: 1s !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
    }
  }

  ::selection {
    @apply bg-primary-200 dark:bg-primary-500;
  }
  ::-moz-selection {
    @apply bg-primary-200 dark:bg-primary-500;
  }
}

.prose {
  @apply dark:text-white;
}

.prose h1,
h2,
strong {
  @apply dark:text-white;
}

.prose code {
  @apply dark:text-gray-200;
}

a,
.prose a {
  @apply no-underline font-semibold text-primary-700 dark:text-primary-400 hover:underline;
}
